body {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
  line-height: 2em;
  font-weight: 400;
  background: rgb(242, 242, 242);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 21px;
  font-weight: 700;
}

h2 {
  font-size: 21px;
  font-weight: 700;
}


.container {
  margin: 0 auto;
  text-align: center;
  min-width: 768px; 
  max-width: 1200px;
}

.main-header {
  width: 100%;
  min-height: 56px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  font-size: 14px;
  display: inline-block;
  width: 20%;
  min-height: 56px;
  box-sizing: border-box;
  vertical-align: top;
}

.main-navigation li:nth-of-type(1),
.main-navigation li:nth-of-type(2) {
  text-align: left;
  padding-left: 72px;
}

.main-navigation li:nth-of-type(3),
.main-navigation li:nth-of-type(4) {
  text-align: right;
  padding-right: 72px;
}

.main-navigation li:nth-of-type(2) {
  margin-right: 20%;
}

.main-navigation a {
  text-decoration: none;
  display: block;
  color: black;
  font-weight: 700;
  padding-top: 14px;
}

.main-navigation a.active {
  color: rgb(118, 99, 87);
}

.main-navigation a:hover {
  color: rgb(129, 179, 210);
}

.main-navigation a:active {
  color: rgb(178, 178, 178);
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.intro {
  width: 100%;
  margin: 0;
  padding-top: 76px;
  padding-bottom: 72px;
  background: url("../img/index-bgr-mask.png") no-repeat bottom,
              url("../img/index-bgr.jpg") no-repeat;
}

.promo-text {
  padding-top: 42px;
  padding-bottom: 38px;
  background: url("../img/promo-text-mask.png") no-repeat;
}

.promo-text p {
  display: block;
  padding-top: 10px;
}

.features {
  background: rgb(129, 179, 210); 
}

.features-item {
  float: left;
  width: 33.3334%;
  color: white;
}

.features-item-title {
  margin: 0 auto;
  width: 151px;
  line-height: 1;
  padding-top: 53px;
  padding-bottom: 20px;
}

.features-item-number {
  display: block;
  padding-bottom: 4px;
}
.features-item p {
  padding: 0 46px;
  line-height: 1.5em;
}

.features-image {
  position: relative;
  min-height: 256px;
  float: left;
  width: 66.6667%;
  overflow: hidden;
}

.features-image img {
  position: absolute;
  display: block;
  width: 100%;
  top: -80px;
}

.benefits-item {
  float: left;
  width: 33.3334%;
  background: rgb(255, 255, 255);
  min-height: 330px;
}

.benefits-item p { 
  margin-bottom: 80px;
  padding: 0 60px;
  line-height: 1.5em;
}

.benefits-house {
  padding-top: 58px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.benefits-food {
  padding-top: 60px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.benefits-souvenirs {
  padding-top: 56px;
  padding-bottom: 8px;
  vertical-align: middle;
}

.gray-bg {
  background: rgb(238, 238, 238);
}

.gray-bg .benefits-item {
  min-height: 256px;
}

.gray-bg .features-item-title {
  padding-top: 48px;
  padding-bottom: 20px;
}

.search-index {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.offer-title {
  font-size: 30px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 14px;
}

.search-index p {
  display: block;
  padding-bottom: 24px;
}

.search-index a {
  display: block;
  margin: 0 auto;
  font-size: 21px;
  width: 510px;
  padding: 30px;
}

.btn-alt {
  background-color: rgb(118, 99 ,87);
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.footer-index {
  position: absolute;
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
}

footer {
  background-color: rgb(254, 254, 254);
  width: 100%;
}

.main-footer {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.search form {
  z-index: 10;
  position: absolute;
  width: 460px;
  background: rgb(255, 255, 255);
  left: calc(50% - 570px/2);
  padding: 55px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  text-align: left;
}

.search label {
  padding-right: 14px;
}

.search-input {
  display: inline-block;
  vertical-align: middle;
}

.search-input input {
  width: 346px;
  padding: 9px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.search-form-number {
  display: inline-block;
  vertical-align: top;
}

.search-form-number input {
  width: 38px;
  padding: 9px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.search-form-number i {
  width: 38px;
}

.form-input {
  box-sizing: border-box;
  padding: 8px;
  border: 2px solid rgb(242, 242, 242);
  outline: none;
  text-transform: uppercase;
  background: rgb(242, 242, 242);
}

.form-input:hover {
  border-color: rgb(235, 235, 235);
  background: rgb(235, 235, 235);
}

.form-input:focus {
  border-color: rgb(229, 229, 229);
  background: rgb(255, 255, 255);
}

.search-form-btn {
  display: inline-block;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  width: 458px;
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 17px;
}

.search-form {
  display: inline-block;
  padding-bottom: 30px;
  vertical-align: top;
}

.map {
  background: url(../img/map.png) no-repeat;
  width: 100%;
  height: 100%;
  min-height: 265px;
  position: absolute;
  z-index: 1;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.footer-sedona{
  float: left;
  width: 33.3334%;
  font-weight: bold;
  font-size: 21px;
  padding-top: 48px;
}

.footer-social {
  float: left;
  width: 33.3334%;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 36px 2px;
  background: rgb(129, 179, 210) url("../img/social-btn.png") no-repeat;
}

.social-btn:hover {
  background: rgb(102, 158, 192) url("../img/social-btn.png") no-repeat;
}

.social-btn:active {
  background: rgb(84, 150, 189) url("../img/social-btn.png") no-repeat;
}

.social-btn-tw {
  background-position: 0 0;
}

.social-btn-tw:hover {
  background-position: 0 -56px;
}

.social-btn-tw:active {
  background-position: 0 -112px;
}

.social-btn-fb {
  background-position: -53px 0;
}

.social-btn-fb:hover {
  background-position: -53px -56px;
}

.social-btn-fb:active {
  background-position: -53px -112px;
}

.social-btn-yt {
  background-position: -105px 0;
}

.social-btn-yt:hover {
  background-position: -105px -56px;
}

.social-btn-yt:active {
  background-position: -105px -112px;
}

.footer-copyright {
  float: right;
  width: 33.3334%;
  margin-top: 44px;
}

.footer-copyright a {
  display: inline-block;
  background: url("../img/copyright.png") no-repeat;
  background-position: -5px -5px;
  width: 113px;
  height: 39px;
  vertical-align: middle;
  margin-left: 3px;
}

.footer-copyright a:hover {
  background-position: -5px -55px;
}

.footer-copyright a:active {
  background-position: -5px -105px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.search-hotels {
  background: url("../img/hotels-bgr.jpg");
  padding-top: 10px;
  min-height: 207px;
}

.filter-group {
  float: left;
  width: 180px;
  color: white;
  margin-left: 73px;
  margin-bottom: 30px;
}

.filter-title {
  font-size: 16px;
  text-align: left;
}

.filter-group input {
  display: none;
  vertical-align: middle;
}

.filter-group label {
  padding-left: 18px;
}

.selection-price {
  float: right;
  width: 330px;
  margin-right: 73px;
  color: white;
  text-transform: uppercase;
}

.selection-price .filter-title {
  margin-bottom: 6px;
}

.selection-group {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 314px;
  margin-left: 12px;
}

.selection-group::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.selection-group label {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  cursor: pointer;
  text-align: left;
}

.selection-group .min-price,
.selection-group .max-price {
  width: 90px;
  padding-left: 54px;
}

.selection-group input {
  width: 48px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 12px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.search-hotels-btn {
  display: block;
  margin: 0 auto;
  padding: 9px 32px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.search-hotels-btn:hover {
  color: #000000;
  background: #ffffff;
}

.selection-input {
  width: 160px;
  padding: 0;
  margin: 0;
}

.result {
  text-align: left;
  background-color: rgb(254, 254, 254);
}

.hotel-triage {
  padding-left: 44px;
  padding-right: 38px;
  vertical-align: top;
}

.hotel-sorting {
  width: 100%;
  padding: 31px 6% 24px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(229, 229, 229);
  font-size: 12px;
}

.hotel-title {
  font-size: 21px;
  font-weight: 700;
}

.hotel-label {
  display: inline-block;
  vertical-align: top;
}

.hotel-label a {
  text-decoration: none;
  margin-right: 28px;
  color: rgb(177, 177, 177);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.hotel-label a.active {
  color: rgb(129, 179, 210);
  border-bottom: none;
}

.hotel-label a:hover {
  color: rgb(129, 179, 210);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.hotel-label a:active {
  color: black;
  border-bottom: none;
}

.hotel-sorting-right a {
  width: 11px;
  height: 10px;
  text-align: right;
  background: url(../img/hotel-icon.png);
}

.hotel-active {
  background-position: -130px -7px;
}

.hotel-icon-up {
  background-position: -7px -7px;
}

.hotel-icon-up:hover {
  background-position: -56px -7px;
}

.hotel-icon-up:active {
  background-position: -108px -7px;
}

.hotel-icon-down {
  background-position: -29px -8px;
}

.hotel-icon-down:hover {
  background-position: -78px -8px;
}

.hotel-icon-down:active {
  background-position: -130px -7px;
}

.hotel-item {
  padding: 24px 71px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.hotel-item-title {
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  color: black;
}

.hotel-item-title:hover {
  color: rgb(129, 179, 210);
}

.hotel-item-title:active {
  color: rgb(178, 178, 178);
}

.hotel-img {
  float: left;
  width: 136px;
  padding-top: 7px;
}

.hotel-info {
  float: left;
  width: 660px;
  padding-left: 30px;
}

.hotel-info-item {
  display: inline-block;
  padding-right: 4px;
  vertical-align: top;
}

.hotel-info-item span {
  display: block;
}

.hotel-info-item a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  padding: 0 16px;
  margin-top: 10px;
}

.hotel-info-item .btn-alt:hover {
  background: rgb(96, 78, 67);
  color: white;
}

.hotel-info-item .btn-alt:active {
  background: rgb(80, 62, 51);
  color: rgb(133, 120, 113);
}

.btn {
  background: rgb(129, 179, 210);
  color: white;
}

.btn:hover {
  background: rgb(102, 158, 192);
  color: white;
}

.btn:active {
  background: rgb(84, 150, 189);
  color: rgb(136, 182, 209);
}

.hotel-right-block {
  float: right;
  width: 130px;
}

.hotel-star {
  text-align: right;
  padding-top: 3px;
  padding-right: 2px;
}

.hotel-rating {
  text-align: right;
  background: rgb(242, 242, 242);
  margin-top: 37px;
  padding-right: 14px;
}