body {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
  line-height: 2em;
  font-weight: 400;
  background: rgb(242, 242, 242);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 21px;
  font-weight: 700;
}

h2 {
  font-size: 21px;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  text-align: center;
  min-width: 768px; 
  max-width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0,1,1,.2);
  background: rgb(255, 255, 255);
}

.main-header {
  width: 100%;
  min-height: 56px;
  background: rgb(255, 255, 255);
  position: relative;
  padding: 0 6%;
  box-sizing: border-box;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  font-size: 14px;
  display: inline-block;
  width: 20%;
  min-height: 56px;
  vertical-align: top;
}

.main-navigation li:nth-of-type(1),
.main-navigation li:nth-of-type(2) {
  text-align: left;
}

.main-navigation li:nth-of-type(3),
.main-navigation li:nth-of-type(4) {
  text-align: right;
}

.main-navigation li:nth-of-type(2) {
  margin-right: 20%;
  padding-left: 3%;
  box-sizing: border-box;
}

.main-navigation li:nth-of-type(3) {
  padding-right: 3%;
  box-sizing: border-box;
}

.main-navigation a {
  text-decoration: none;
  display: block;
  color: black;
  font-weight: 700;
  padding-top: 14px;
}

.main-navigation a.active {
  color: rgb(118, 99, 87);
}

.main-navigation a:hover {
  color: rgb(129, 179, 210);
}

.main-navigation a:active {
  color: rgb(178, 178, 178);
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.intro {
  width: 100%;
  margin: 0;
  padding-top: 76px;
  padding-bottom: 72px;
  background: url("../img/index-bgr-mask.png") no-repeat bottom,
              url("../img/index-bgr.jpg") no-repeat 50% 29%,
              rgb(42, 62, 69);
}

.promo-text {
  padding-top: 42px;
  padding-bottom: 38px;
}

.promo-text p {
  display: block;
  padding-top: 10px;
}

.features {
  background: rgb(129, 179, 210); 
}

.features-item {
  float: left;
  width: 33.3334%;
  color: white;
}

.features-item-title {
  margin: 0 auto;
  width: 151px;
  line-height: 1;
  padding-top: 53px;
  padding-bottom: 20px;
}

.features-item-number {
  display: block;
  padding-bottom: 4px;
}
.features-item p {
  padding: 0 46px;
  line-height: 1.5em;
}

.features-image {
  position: relative;
  min-height: 256px;
  float: left;
  width: 66.6667%;
  overflow: hidden;
}

.features-image img {
  position: absolute;
  display: block;
  width: 100%;
  top: -80px;
}

.benefits-item {
  float: left;
  width: 33.3334%;
  background: rgb(255, 255, 255);
  min-height: 330px;
}

.benefits-item p { 
  padding: 0 14%;
  line-height: 1.5em;
}

.benefits-house {
  padding-top: 58px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.benefits-food {
  padding-top: 60px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.benefits-souvenirs {
  padding-top: 56px;
  padding-bottom: 8px;
  vertical-align: middle;
}

.benefits .gray-bg {
  background: rgb(238, 238, 238);
  padding-bottom: 70px;
  box-sizing: border-box;
}

.gray-bg .benefits-item {
  min-height: 256px;
  background: rgb(238, 238, 238);
}

.gray-bg .features-item-title {
  padding-top: 48px;
  padding-bottom: 18px;
}

.gray-bg p {
  padding: 0 16%;
}

.search-index {
  margin: 0 auto;
  background: rgb(255, 255, 255);
}

.offer-title {
  font-size: 30px;
  font-weight: 700;
  padding-top: 54px;
  padding-bottom: 14px;
}

.search-index p {
  display: block;
  padding-bottom: 34px;
  line-height: 1.7em;
}

.search-index a {
  display: block;
  margin: 0 auto;
  font-size: 21px;
  width: 510px;
  padding: 29px;
}

.btn-alt {
  background: rgb(118, 99 ,87);
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.footer-index {
  position: absolute;
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
}

footer {
  background-color: rgb(254, 254, 254);
  width: 100%;
}

.main-footer {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.search form {
  z-index: 10;
  position: absolute;
  width: 458px;
  background: rgb(255, 255, 255);
  left: calc(50% - 568px/2);
  padding: 55px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  text-align: left;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.form-search-show {
  display: none;
  animation-name: slide;
  animation-duration: 2s;
}

.search-form-btn {
  display: inline-block;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  width: 458px;
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 17px;
  margin-top: 20px;
}

.form-input {
  box-sizing: border-box;
  padding: 8px;
  border: 2px solid rgb(242, 242, 242);
  outline: none;
  text-transform: uppercase;
  background: rgb(242, 242, 242);
}

.form-input:hover {
  border-color: rgb(235, 235, 235);
  background: rgb(235, 235, 235);
}

.form-input:focus {
  border-color: rgb(229, 229, 229);
  background: rgb(255, 255, 255);
}

.search-form {
  padding-bottom: 30px;
}

.search-form label {
  float: left;
  margin-top: 5px;
}

.search-input {
  float: right;
  position: relative;
}

.search-input .icon-calendar {
  position: absolute;
  top: 20%;
  left: 91%;
  background: url("../img/spritesheet.png");
  width: 21px;
  height: 22px;
  background-position: -66px -147px;
  cursor: pointer;
}

.icon-calendar:hover {
  background-position: -261px -95px;
}

.icon-calendar:active {
  background-position: -15px -147px;
}

.search-input input {
  width: 346px;
  padding: 8px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  text-align: left;
}

.search-form-number {
  float: left;
  width: 50%;
  position: relative;
}

.form-input {
  cursor: pointer;
}

.search-form-number .icon-plus {
  position: absolute;
  top: 40%;
  left: 89%;
  background: url("../img/spritesheet.png");
  background-position: -138px -95px;
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.icon-plus:hover {
  background-position: -15px -55px;
}

.icon-plus:active {
  background-position: -97px -55px;
}

.search-form-number .icon-minus {
  position: absolute;
  top: 50%;
  left: 55%;
  background: url("../img/spritesheet.png");
  background-position: -99px -15px;
  width: 12px;
  height: 3px;
  cursor: pointer;
}

.icon-minus:hover {
  background-position: -15px -15px;
}

.icon-minus:active {
  background-position: -57px -15px;
}

.search-form-number label {
  width: 115px;
}

.search-form-number:nth-child(2) label {
  padding-left: 50px;
  box-sizing: border-box;
}

.search-form-number input {
  width: 112px;
  padding: 9px 38px;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.map {
  background: url(../img/map.png) no-repeat;
  width: 100%;
  height: 100%;
  min-height: 265px;
  position: absolute;
  z-index: 1;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.footer-sedona {
  float: left;
  width: 33.3334%;
  font-weight: 700;
  font-size: 21px;
  padding-top: 48px;
}

.footer-social {
  float: left;
  width: 33.3334%;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 36px 2px;
  background: rgb(129, 179, 210) url("../img/spritesheet.png") no-repeat;
}

.social-btn:hover {
  background: rgb(102, 158, 192) url("../img/spritesheet.png") no-repeat;
}

.social-btn:active {
  background: rgb(84, 150, 189) url("../img/spritesheet.png") no-repeat;
}

.social-btn-tw {
  background-position: -312px -15px;
}

.social-btn-tw:hover {
  background-position: -312px -71px;
}

.social-btn-tw:active {
  background-position: -312px -127px;
}

.social-btn-fb {
  background-position: -365px -15px;
}

.social-btn-fb:hover {
  background-position: -365px -71px;
}

.social-btn-fb:active {
  background-position: -365px -127px;
}

.social-btn-yt {
  background-position: -417px -15px;
}

.social-btn-yt:hover {
  background-position: -417px -71px;
}

.social-btn-yt:active {
  background-position: -417px -127px;
}

.footer-copyright {
  float: right;
  width: 33.3334%;
  margin-top: 44px;
}

.footer-copyright a {
  display: inline-block;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -117px -147px;
  width: 113px;
  height: 39px;
  vertical-align: middle;
  margin-left: 3px;
}

.footer-copyright a:hover {
  background-position: -15px -216px;
}

.footer-copyright a:active {
  background-position: -158px -216px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.search-hotels {
  background: url("../img/hotels-bgr.jpg"),
              rgb(42, 62, 69);
  padding: 10px 6% 0;
}

.filter-group {
  float: left;
  width: 27,5%;
  padding-right: 117px;
  color: white;
  text-align: left;
}

.filter-title {
  font-size: 16px;
}

.filter-group label {
  display: block;
  padding-top: 2px;
  padding-bottom: 16px;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.filter-group input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background: url("../img/spritesheet.png");
  background-position: -141px -15px;
  width: 26px;
  height: 22px;
  cursor: pointer;
}

.filter-group input[type="checkbox"]:checked + label:before {
  background-position: -193px -15px;
}

.filter-group input[type="checkbox"]:disabled + label:before {
  opacity: 0.3;
}

.selection-price {
  float: right;
  width: 27,5%;
  color: white;
  text-transform: uppercase;
  padding-bottom: 33px;
}

.selection-price .filter-title {
  margin-bottom: 6px;
  text-align: left;
}

.selection-group {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 314px;
  margin-left: 12px;
}

.selection-group::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.selection-group label {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  cursor: pointer;
  text-align: left;
}

.selection-group .min-price,
.selection-group .max-price {
  width: 90px;
  padding-left: 54px;
}

.selection-group input {
  width: 48px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 12px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.search-hotels-btn {
  display: block;
  margin: 0 auto;
  padding: 9px 32px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.search-hotels-btn:hover {
  color: #000000;
  background: #ffffff;
}

.selection-input {
  width: 160px;
  padding: 0;
  margin: 0;
}

.result {
  text-align: left;
  background-color: rgb(254, 254, 254);
}

.hotel-triage {
  padding-left: 44px;
  padding-right: 38px;
  vertical-align: top;
}

.hotel-sorting {
  width: 100%;
  padding: 31px 6% 24px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(229, 229, 229);
  font-size: 12px;
}

.hotel-title {
  font-size: 21px;
  font-weight: 700;
}

.hotel-label {
  display: inline-block;
  vertical-align: top;
}

.hotel-label a {
  text-decoration: none;
  margin-right: 28px;
  color: rgb(177, 177, 177);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.hotel-label a.active {
  color: rgb(129, 179, 210);
  border-bottom: none;
}

.hotel-label a:hover {
  color: rgb(129, 179, 210);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.hotel-label a:active {
  color: black;
  border-bottom: none;
}

.hotel-sorting-right {
  float: right;
  width: 5%;
  text-align: right;
}

.hotel-icon-up {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  background: url("../img/spritesheet.png");
  background-position: -179px -95px;
}

.hotel-icon-up.hotel-active {
  background-position: -249px -55px;
}

.hotel-icon-up:hover {
  background-position: -56px -55px;
}

.hotel-icon-up:active {
  background-position: -249px -55px;
}

.hotel-icon-down {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  margin-left: 10px;
  background: url("../img/spritesheet.png");
  background-position: -220px -95px;
}

.hotel-icon-down.hotel-active {
  background-position: -56px -95px;
}

.hotel-icon-down:hover {
  background-position: -249px -15px;
}

.hotel-icon-down:active {
  background-position: -56px -95px;
}

.hotel-item {
  padding: 24px 6% 20px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.hotel-item-title {
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  color: black;
}

.hotel-item-title:hover {
  color: rgb(129, 179, 210);
}

.hotel-item-title:active {
  color: rgb(178, 178, 178);
}

.hotel-img {
  float: left;
  width: 136px;
  padding-top: 7px;
}

.hotel-info {
  float: left;
  width: 50%;
  padding-left: 30px;
}

.hotel-info-item {
  display: inline-block;
  padding-right: 4px;
  vertical-align: top;
}

.hotel-info-item span {
  display: block;
}

.hotel-info-item a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  padding: 0 16px;
  margin-top: 10px;
}

.hotel-info-item .btn-alt:hover {
  background: rgb(96, 78, 67);
  color: white;
}

.hotel-info-item .btn-alt:active {
  background: rgb(80, 62, 51);
  color: rgb(133, 120, 113);
}

.btn {
  background: rgb(129, 179, 210);
  color: white;
}

.btn:hover {
  background: rgb(102, 158, 192);
  color: white;
}

.btn:active {
  background: rgb(84, 150, 189);
  color: rgb(136, 182, 209);
}

.hotel-right-block {
  float: right;
  width: 130px;
}

.hotel-star {
  text-align: right;
  padding-top: 3px;
  padding-right: 2px;
}

.hotel-rating {
  text-align: right;
  background: rgb(242, 242, 242);
  margin-top: 37px;
  padding-right: 14px;
}

@keyframes slide {
  0%{transform:translateY(-400px)}
  100%{transform:translateY(0)}
}